/* 
		selectora {
	propiedad: valor;
}
*/



	/* LOGO DE LA PAGINA */

.logoAlvarado img {
	width: 100px;
} 
.navBar .logo {
	width: 100px;
	height: 110px;
	grid-column: 1 / 3;
}
	/* CIERRE LOGO */



 	/* NAV */

li {
	list-style-type: none;
}

a {
	color: ghostwhite;
	text-decoration: none;
}

header {
	grid-area: header;
}
.header__nav ul li {
	color: white;
	display: inline;
	margin-right: 90px;
	margin-left: 50px;	  	
}
.navBar {
	display: grid;                       
	align-items: center;
}
.navBar .menu__nav {
	grid-column: 3 / 7; 
	display: flex;
	justify-content: space-around;
} 

 	/* CIERRE NAV */
 	


 	/* INICIO CONTENIDO*/

main {
	grid-area: main;
}



.imagen_index img {
	
	width: 450px;
}

 .div_texto h3 {
 	color: darkred;
 	font-family: fantasy;
 }

 .divTexto h3 {
 	color: black;
 	font-family: cursive;

 }

 .divTexto h4 {
  	color: white;
 	font-family: 'Quintessential', cursive;
 }

.div_texto h1 {
	color: whitesmoke;

}

.div_texto p {
	color: darkred;
}

.div_texto b h4 {
	color: floralwhite;
	font-family: cursive;
}

.logoAlvarado {
	display: flex;           /* FLEX */ 
	align-items: center;
}
	/* CIERRE CONTENIDO */



	/*INICIO FOOTER*/
.footerRedes {
	display: grid;
	height: 220px;
	align-items: center;
	grid-area: footer;
	grid-template-areas: "fooRedes logoRedes"; 
	grid-template-rows: 100%;
	grid-template-columns: 1fr 2fr;
}

.footerRedes a {
	margin-right: 50px;
}

.footerRedes a img {
	width: 70px; 
	
}

.fooRedes {
	margin-left: 50px;
	grid-area: fooRedes;
}

.logoRedes {
	grid-area: logoRedes;
}

	/* CIERRE FOOTER */

body {
	background-image: url(..//assets/img/fondoalvarado.jpg);
	background-position: -220px;
}



	/* actividades */

.textoActividades h4 {
	font-family: quintessential;
}



	/* hacete socio */ 
.div_texto p {
	color: darkred;
	font-family: cursive;
}
.imagen img {
	width: 300px;	
}

.div_hacetesocio h1 {
	color: white;
}


/* noticias */ 
.divtextoNoticias p {
	color: whitesmoke;
	padding-left: 10px;
}



.grid_container  {
	display: grid;          /* GRID */
	text-align: center;
	grid-template-areas:
	"header header"
	"main main" 
	"footer footer";
	grid-template-columns: 2fr 1fr ;
} 


/* MEDIA QUERIE MOBILE */

@media only screen and (max-width: 660px) {

	.navBar .menu__nav {
		display: grid; 
		align-items: center;
		margin-left: 230px;
	}

	.footerRedes a{
		position: relative;
	}
}


