.logoalvarado {
	width: 100px;
	margin-right: 30px;
}

 /* NAV */ 
.nav-item {
	margin-left: 50px;
}
.titulo {
	margin-left: 550px;
	color: red;
}
.navbar {
	background-color: transparent;
}	

.carousel {
	width: 50%;
	margin-left: 25%; 
}

/* MAIN */ 

.alvarado {
	color: white;
}
.alvarado:hover {
	color: red;
	transition: 3s;
}

body {
	background-color: gainsboro;
	background-image: url(..//assets/img/fondoalvarado.jpg);
	background-position: -220px;
}
.container {
	text-align: center;
}

h3 h4 {
	color: blueviolet;
}
.divtextoNoticias {
	color: white;
}
 
.div_texto p {
	color: white;
}

.div_texto h3 {
 	color: darkred;
 	font-family: fantasy;
 }

 .divTexto h3 {
 	color: black;
 	font-family: cursive;

 }

 .divTexto h4 {
  	color: white;
 	font-family: 'Quintessential', cursive;
 }

.div_texto h1 {
	color: whitesmoke;
}

.div_texto:hover h1 {
	color: orangered;
	transition: 2s;
}

.div_texto b h4 {
	color: floralwhite;
	font-family: cursive;
}

 /* FOOTER */

.footerRedes a {
	margin-right: 20px;
}

.footerRedes a img {
	width: 70px;
}

.fooRedes {
	color: royalblue;
}

.footerRedes{
	display: grid;
	height: 220px;
	align-items: center;
	grid-area: footer;
	grid-template-areas: "fooRedes logoRedes"; 
	grid-template-rows: 100%;
	grid-template-columns: 1fr 2fr;
}

.footerRedes a {
	margin-right: 30px;
}

.footerRedes a img {
	width: 70px; 	
}

.fooRedes {
	color: darkred;
}

.fooRedes:hover {
	color: white;
	margin-left: 30px;
	grid-area: fooRedes;
	transition: 2s;
}

.logoRedes {
	grid-area: logoRedes;
}



