<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ACTIVIDADES</title>
	<link rel="stylesheet" href="../css/estilo.css">
	<link rel="stylesheet" href="css/mediaQueries.css">


	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link href="https://fonts.googleapis.com/css2?family=Quintessential&display=swap" rel="stylesheet">
</head>
<body>
	<div>
	<!-- inicio encabezado -->
	<header class="header__nav">

		<!-- inicio nav -->
			<nav class="navBar">
				<!-- LOGO -->	
				<img src="../assets/img/download 1.png" class="logo" alt="">
				<!-- CIERRE LOGO -->
				<!-- lista con viñetas -->
					<ul class="menu__nav nav--background">
						<li class="nav__item nav__item-background"><a href="../index.html">HOME</a></li>
						<li class="nav__item nav__item-color"><a href="contacto.html">CONTACTO</a></li>
						<li class="nav__item nav__item-background"><a href="#">ACTIVIDADES</a></li>
						<li class="nav__item nav__item-color"><a href="hacetesocio.html">HACETE SOCIO</a></li>
						<li class="nav__item nav__item-background"><a href="noticias.html">NOTICIAS</a></li>					
					</ul>
			</nav>
	<!-- cierre nav -->	
		</header>
	<!-- cierre encabezado -->
	<!-- inicio contenido -->
		<div class="grid_container">
			<main>
				<div class="div_texto">
					<h1>DEPORTES</h1>
				</div>
				<div class="button">
					<a href="https://www.clubalvarado.com.ar/deportes/futbol/"target="_blank">
						<button>CONOCE LAS ACTIVIDADES DEL CLUB EN LA PAGINA OFICIAL</button>
					</a>
				</div>
				<div class="textoActividades">
					<h3>FUTBOL PROFESIONAL</h3>	
					<h4>Juego divertido de la primera en entrenamiento.</h4>								
					<iframe width="560" height="315" src="https://www.youtube.com/embed/fDyjPXFVSns" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</main>
		</div>
	<!-- cierre contenido -->
	<!-- inicio footer -->
		<footer class="footerRedes">
			<div class="fooRedes">
			<h3>REDES SOCIALES</h3>
			</div>
			<div class="logoRedes">	
				<a href="https://es-la.facebook.com/ClubAlvaOficial/" target="_blank">
					<img src="../assets/img/facebook.png" alt="">
				</a>				
				<a class="instagram" href="https://www.instagram.com/clubalvaoficial/?hl=es" target="_blank">
					<img src="../assets/img/instagram.png" alt="">
				</a>			
				<a href="https://twitter.com/ClubAlvaOficial?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank">
					<img src="../assets/img/twitter.png" alt="">
				</a>		
			</div>	
		</footer>	
		</div>
	<!-- cierre footer -->	
	
</body>
</html>