<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>HACETE SOCIO</title>

	<link rel="preconnect" href="https://fonts.googleapis.com">

	<link rel="stylesheet" href="../css/estilo.css">
	<link rel="stylesheet" href="css/mediaQueries.css">

</head>
<body>
	<div>
	<!-- inicio encabezado -->
	<header class="header__nav">
	<!-- inicio nav -->
			<nav class="navBar">
				<!-- LOGO -->	
				<img src="../assets/img/download 1.png" class="logo" alt="">
				<!-- CIERRE LOGO -->
				<!-- lista con viñetas -->						
					<ul class="menu__nav nav--background">
						<li class="nav__item nav__item-background"><a href="../index.html">HOME</a></li>
						<li class="nav__item nav__item-color"><a href="contacto.html">CONTACTO</a></li>
						<li class="nav__item nav__item-background"><a href="actividades.html">ACTIVIDADES</a></li>
						<li class="nav__item nav__item-color"><a href="#">HACETE SOCIO</a></li>
						<li class="nav__item nav__item-background"><a href="noticias.html">NOTICIAS</a></li>
					</ul>						
			</nav>
		<!-- cierre nav -->	
		</header>
	<!-- cierre encabezado -->
	<!-- inicio contenido -->
		<div class="grid_container">
			<main>
				<div class="div_hacetesocio">
					<h1>¡¡¡HACETE SOCIO!!!</h1>
					<p class="parrafo">				
					¡TENIENDO LA CUOTA AL DIA PODES TENER GRANDES PROMOCIONES PARA EL DEPORTE QUE ESTAS ENTRENANDO Y/O ROPA DEL CLUB!
					<br> Y ALGO MEJOR... ¡TAMBIEN PARA TU ENTRADA PARA CUANDO QUIERAS IR A VER AL GIGANTE DEL INTERIOR!
					</p>
				</div>
				<div class="imagen">
					<img src="../assets/img/clubdealvarado.jpg" alt="">
				</div>			
			</main>
		</div>
	<!-- cierre contenido -->
	<!-- inicio footer -->
		<footer class="footerRedes">
			<div class="fooRedes">
			<h3>REDES SOCIALES</h3>
			</div>
			<div class="logoRedes">	
				<a href="https://es-la.facebook.com/ClubAlvaOficial/" target="_blank">
					<img src="../assets/img/facebook.png" alt="">
				</a>				
				<a class="instagram" href="https://www.instagram.com/clubalvaoficial/?hl=es" target="_blank">
					<img src="../assets/img/instagram.png" alt="">
				</a>			
				<a href="https://twitter.com/ClubAlvaOficial?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank">
					<img src="../assets/img/twitter.png" alt="">
				</a>		
			</div>	
		</footer>
		</div>	
	<!-- cierre footer -->	
	
</body>
</html>