<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>HACETE SOCIO</title>

	<link rel="preconnect" href="https://fonts.googleapis.com">

	 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">

	<link rel="stylesheet" href="../css/estilo.css">
	<link rel="stylesheet" href="css/mediaQueries.css">

</head>
<body>
	<div class="container-fluid">
       <div class="row">
         <div class="col-lg-12 col-xs-12">
          <nav  class="navbar navbar-expand-lg navbar-light p-3"  id="menu">
            <div class="container">
            	<a href="../index.html">
              <img src="../assets/img/download 1.png" class="logoalvarado" alt="">
              </a>
              <a class="navbar-brand" href="../index.html">
                 <span class="fs-5 text-primary fw-bold">Inicio</span>
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              	<li class="nav-item">
                 <a class="nav-link" aria-current="page" href="contacto.html">Contacto</a>
                </li>
                <li class="nav-item">
                 <a class="nav-link" aria-current="page" href="actividades.html">Actividades</a>
                </li>
                <li class="nav-item">
                 <a class="nav-link" aria-current="page" href="hacetesocio.html">Hacete socio</a>
                </li>
                <li>
                 <a class="nav-link" aria-current="page" href="noticias.html">Noticias</a>
                </li>
               </ul>
              </div>
            </div>
           </nav>
          </div>
        </div>
   </div> 
	<!-- inicio contenido -->
		<div class="container">
			<main class="hacetesocio">
				<div class="div_texto">
					<h1>¡¡¡HACETE SOCIO!!!</h1>
					<p class="parrafo">				
					¡TENIENDO LA CUOTA AL DIA PODES TENER GRANDES PROMOCIONES PARA EL DEPORTE QUE ESTAS ENTRENANDO Y/O ROPA DEL CLUB!
					<br> Y ALGO MEJOR... ¡TAMBIEN PARA TU ENTRADA PARA CUANDO QUIERAS IR A VER AL GIGANTE DEL INTERIOR!
					</p>
				</div>
				<div class="imagen">
					<img src="../assets/img/clubdealvarado.jpg" alt="">
				</div>			
			</main>
	<!-- cierre contenido -->
	<!-- inicio footer -->
		<footer class="footerRedes">
			<div class="fooRedes">
			<h3>REDES SOCIALES</h3>
			</div>
			<div class="logoRedes">	
				<a href="https://es-la.facebook.com/ClubAlvaOficial/" target="_blank">
					<img src="../assets/img/facebook.png" alt="">
				</a>				
				<a class="instagram" href="https://www.instagram.com/clubalvaoficial/?hl=es" target="_blank">
					<img src="../assets/img/instagram.png" alt="">
				</a>			
				<a href="https://twitter.com/ClubAlvaOficial?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank">
					<img src="../assets/img/twitter.png" alt="">
				</a>
		 	</div>				
		</footer>
	</div>
	<!-- cierre footer -->	
	 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script> 
    <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
    <script src="main.js"></script>
</body>
</html>