<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>NOTICIAS</title>

	<link rel="preconnect" href="https://fonts.googleapis.com">

	<link rel="stylesheet" href="../css/estilo.css">
	<link rel="stylesheet" href="css/mediaQueries.css">

</head>
<body>
	<div>
	<!-- inicio encabezado -->
	<header class="header__nav">
	
	<!-- inicio nav -->
			<nav class="navBar">
				<!-- LOGO -->	
				<a href="../index.html">
				<img src="../assets/img/download 1.png" class="logo" alt="">

				</a>
				<!-- CIERRE LOGO -->
				<!-- lista con viñetas -->				
					<ul class="menu__nav nav--background">
						<li class="nav__item nav__item-background"><a href="../index.html">HOME</a></li>
						<li class="nav__item nav__item-color"><a href="contacto.html">CONTACTO</a></li>
						<li class="nav__item nav__item-background"><a href="actividades.html">ACTIVIDADES</a></li>
						<li class="nav__item nav__item-color"><a href="hacetesocio.html">HACETE SOCIO</a></li>
						<li class="nav__item nav__item-background"><a href="#">NOTICIAS</a></li>
					</ul>							
			</nav>
	<!-- cierre nav -->	
		</header>
	<!-- cierre encabezado -->
	<!-- inicio contenido -->
		<div class="grid_container">
			<main>
				<div class="div_texto">
					<h1>¡DEVUELTA A LA CANCHA!</h1>
				</div>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/SIQsOGdvBUM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>					
				</iframe>
				<div class="divtextoNoticias">
					<p>Después de tanto esperar, los hinchas de Alvarado volvieron a la fiesta del matadero, el resultado no interesaba mucho para el hincha, sino volver a sentir lo que sentían antes de la pandemia del 2020... Ver al equipo que mas ama, la fiesta fue impresionante. Para colmo, Alvarado cerro el año del 2021 con una goleada magnifica de parte del gigante del interior, por lo tanto, veremos que pasa en este nuevo año para el Matadero que viene con muchas ganas y nuevos refuerzos para pelear por el ascenso a la primera.
					</p>
				</div>
			</main>
		</div>
	<!-- cierre contenido -->
	<!-- inicio footer -->
		<footer class="footerRedes">
			<div class="fooRedes">
			<h3>REDES SOCIALES</h3>
			</div>
			<div class="logoRedes">	
				<a href="https://es-la.facebook.com/ClubAlvaOficial/" target="_blank">
					<img src="../assets/img/facebook.png" alt="">
				</a>				
				<a class="instagram" href="https://www.instagram.com/clubalvaoficial/?hl=es" target="_blank">
					<img src="../assets/img/instagram.png" alt="">
				</a>			
				<a href="https://twitter.com/ClubAlvaOficial?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank">
					<img src="../assets/img/twitter.png" alt="">
				</a>		
			</div>	
		</footer>
		</div>	
	<!-- cierre footer -->	
	
</body>
</html>